ALEXA - Agente Mamá.json
{
  "name": "ALEXA - Agente Mamá",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alexa-mama",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        32
      ],
      "id": "599491e8-4dc6-4b33-9c26-00b497a74f9a",
      "name": "Webhook",
      "webhookId": "12dfd73b-8987-4966-b6d9-4a352847d784"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      version: \"1.0\",\n      response: {\n        outputSpeech: {\n          type: \"PlainText\",\n          text: \"Modo Mamá Activado\"\n        },\n        shouldEndSession: false\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -192
      ],
      "id": "4d88d272-420c-4cd5-b3ab-57132a557d27",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        0
      ],
      "id": "db4d868b-225b-4125-9895-bd59555cfb02",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "583b935c-970d-4f7c-bd4e-17f2bf17f5ab",
              "leftValue": "={{ $json.body.request.type }}",
              "rightValue": "=LaunchRequest",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        32
      ],
      "id": "8df284ba-3ba5-4099-88f6-a1686a05a3fa",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55fa6353-5193-43b5-a217-b8c0efcf8d0f",
              "leftValue": "={{ $json.body.request.intent.slots.comando.value }}",
              "rightValue": "=[undefined]",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        128
      ],
      "id": "c7f8e504-3ccc-4a4a-b528-1071f97e0e9f",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      version: \"1.0\",\n      response: {\n        outputSpeech: {\n          type: \"PlainText\",\n          text: \"comando inválido\"\n        },\n        shouldEndSession: false\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "504c4eb4-29c0-45d8-b54e-aa2f46bb8129",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://josegabjimenez.cloud:9091/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.body.request.intent.slots.comando.slotValue.value }}"
            },
            {
              "name": "timeout",
              "value": "8.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        576
      ],
      "id": "5f0d6566-2fc7-4193-bb76-b0f0130116b0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      version: \"1.0\",\n      response: {\n        outputSpeech: {\n          type: \"PlainText\",\n          text: $input.first().json.response\n        },\n        shouldEndSession: false\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        576
      ],
      "id": "dffd2283-53d9-4070-ab21-737e49115714",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Esta es la pregunta del usuario:\n\n{{ $json.body.request.intent.slots.comando.slotValue.value }}",
        "options": {
          "systemMessage": "Eres un asistente muy acomedido, hablas en español colombia, con un acento caleño.\n\n La respuesta va a ser reproducida en un asistente de voz como Alexa por eso debes responder de tal manera que sea leido por asistentes de voz.\n\nResponde de forma amorosa."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        256
      ],
      "id": "ca0326f9-777d-480e-8281-155dfef095fd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        480
      ],
      "id": "24310c0f-962f-4505-8db9-3138faaf3305",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1RzEHTI1yW7Ua8iF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        480
      ],
      "id": "9d38b6f0-0685-493b-bd8c-5c135615a3e1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      version: \"1.0\",\n      response: {\n        outputSpeech: {\n          type: \"PlainText\",\n          text: $input.first().json.output\n        },\n        shouldEndSession: false\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        256
      ],
      "id": "f496d20a-a350-453e-9f96-56e0898cdf48",
      "name": "Code in JavaScript4"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6777a3df-e5bf-4820-bc31-488c1b41556b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8272aa95d4c85d9a339951bc5e7b4e969a33e5e33c3de98b32ec4ed06328018a"
  },
  "id": "hFUNUNAbCPHDXLkY",
  "tags": []
}